/* ================================
   🌿 GOOGLE FONTS IMPORTS
================================= */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/* ================================
   ⚙️ TAILWIND BASE
================================= */
@import "tailwindcss";

/* ================================
   🌍 GLOBAL STYLES
================================= */


body{
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  display: none;
}